<div class="container">
<h1>Random Beers</h1>
<div class="row">
<img src={{image_url}} alt={{name}}>
<p>{{name}}</p>
<p>{{description}}</p>
<p>{{tagline}}</p>
<p>{{food_pairing}}</p>
<p>{{brewer_tips}}</p>
</div>
</div>



